#<!DOCTYPE html>
<html lang="en">
<<HEAD>
<TITLE> OFGEM </TITLE>
</HEAD>

<BODY BGCOLOR="WHITE">
<CENTER>
<H1> Errors in your file </H1>
<H2> Data_type validations</H2>
<H3> These are errors in your file to do with the data types (e.g. text, numerical) in your columns of data</H3>

<body>
{% for table in tables %}

            {{ table|safe }}
{% endfor %}
</body>
</html>

